@using TurkcellFacebookDunyasi.Com.Helpers

<div id='colorboxContentainer4'>
    <div id="colorboxContent4">
		<h2 class="colorboxHeader">Nasıl Çalışır?</h2>

        <section>
            <img src="@PathHelper.UrlStatic/images/global/tiklaAraHowItWorks.png" />
            <section class="textContent fIta">
                Arama isteğinde bulunduğunuzda, ilk olarak telefonunuz 757 52 70 numarasından çalar. <br />
                Gelen aramayı cevapladığınızda, görüşme yapmak istediğiniz kişinin telefonu çalar. <br />
                Arama yapmak istediğiniz kişi telefonunu açtığında, görüşmeniz başlar. İlk 10 dakikalık görüşme bedava, daha sonraki iki arama 40 ar kuruş ve 10 ar dakika ile sınırlı.<br />
                Ücretsiz arama haklarınız bittikten sonra, dakika başına 40 kuruş olarak ücretlendirilirsiniz. Sadece Facebook arkadaşlarınız ile görüşebilirsiniz.
            </section>
        </section>

    </div>
</div>