@{
    Layout = null;
}

@using TurkcellFacebookDunyasi.Com.Helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>        
    <title>Turkcell Facebook Dünyası</title>

    @Html.Partial("_LayoutHead")

    <script>



    </script>

</head>
<body>


<section class="wrapper">

    @Html.Partial("Header")


    <section class="appOffline fIta">

        Şu an için size hizmet veremiyoruz. <br /><br /> Lütfen daha sonra tekrar deneyiniz.

    </section>

    <ins></ins>

</section>

    @Html.Partial("_Kendo")

</body>
</html>