<footer>        
    <a class="k-button" href="javascript:history.back()"><span class="k-icon k-i-expand-w"></span>@HttpContext.GetGlobalResourceObject("Form", "Back")</a>

    <input id="btnSubmit" type="submit" class="light" value="@HttpContext.GetGlobalResourceObject("Form", "ButtonSave")"  />
    <img alt="" id="LoadingForm" class="loading" src="~/Images/app_utils/loader.gif" />
</footer>