@using TurkcellFacebookDunyasi.Com.Helpers

<style>
    .nano2 { width: 100%; height: 430px; }
</style>
<div id='colorboxContentainer3'>
    <div id="colorboxContent3">
		<h2 class="colorboxHeader">Kullanım Koşulları</h2>

        <section>

        <section class="friendBox">
            <section class="_top"></section>
            <section class="_cont">

                <section class="nano2">
                    <section class="content fReg terms">
                
                        <span class="fBold">Turkcell Hesabım Uygulaması Katılım/Kullanım Koşulları</span>
                        <br />
                        <span class="fIta">Uygulamaya nasıl giriş yapacağım? </span><br />
                        http://www.facebook.com/Turkcell/app_489843511075016 adresinde yer alan “Turkcell Hesabım Sekmesi” uygulamasına katılarak, Turkcell GSM Numaranız ve Turkcell Şifreniz ile uygulamaya giriş yapabilirsiniz. Uygulamaya ilk giriş yapmanızla birlikte Turkcell GSM Numaranız ve Facebook kullanıcı adınız (e-mail adresiniz) eşleştirilecektir. Uygulama içerisinde sunulan tüm hizmetlerden bu şekilde faydalanmaya başlayabilirsiniz. Uygulama üzerinden, uygulamayı kullanan arkadaşlarınızla TıklaKonuş (TıklaKonuş servisi uygulamada TıklaAra olarak belirtilmiştir.) servisi aracılığıyla konuşabilirsiniz. Ayrıca yine uygulama üzerinde yer alan SMS Gönder fonksiyonu ile arkadaşlarınıza SMS gönderebilirsiniz. TıklaKonuş özelliği ile yapacağınız 10 dakikalık ilk aramanız ücretsiz, daha sonraki aramalarınız ise 40 kuruş olarak ücretlendirilecektir. SMS Gönder özelliği ile yapacağınız SMS gönderimleri için ilk SMS ücretli ve daha sonra göndereceğiniz 15 SMS ücretsiz olacaktır. Aynı zamanda uygulama üzerinden arkadaşlarınızdan TL isteyebilir ya da onlara TL gönderebilirsiniz. Kendi hattınıza ya da istediğiniz bir hazırkart numarasına kredi/banka kartı ile TL yükleyebilirsiniz. 

                        <br /><br />
                        <span class="fBold">Uygulama Özellikleri Kullanım Koşulları</span><br />
                        1. http://www.facebook.com/Turkcell/app_489843511075016 adresi üzerinden gerçekleştirilecek olan Turkcell Hesabım uygulaması, Turkcell İletişim Hizmetleri A.Ş. tarafından düzenlenmektedir. <br /><br />
                        2. Kullanıcılar uygulamaya giriş yaparken kullanacakları Turkcell GSM numaraları ve Turkcell Şifreleri ile Facebook hesapları ile turkcell GSM numaralarının eşleştirilmesine ve saklanmasına rıza göstermiş sayılır. <br /><br /> 
                        3. Uygulamaya giriş yapan Turkcell Faturalı Hat kullanıcıları uygulama üzerinden ; 
                        <br /><br />
                        TıklaKonuş(TıklaAra) ile; uygulamayı kullanan Facebook arkadaşları ile sesli arama başlatabilirler. TıklaKonuş (TıklaAra) ile yapacağınız ilk arama 10 dakika ile sınırlı ve ücretsizdir. 
                        <br /><br />
                        Ücretsiz arama hakkınız bittikten sonra yapacağınız aramalar (10 dk ile sınırlıdır), 40 kuruş olarak ücretlendirilir. Ücretsiz aramalar gün içerisinde geçerlidir. 
                        <br /><br />
                        Sadece Turkcell'li bir numarayı arayabilirsiniz. 10 dakikadan az süren aramalar da 40 kuruş olarak ücretlendirilir ve kalan dakikalar kullanılamaz. 
                        <br /><br />
                        SMS Gönder ile; aynı gün içerisinde Turkcell'lilere göndereceğiniz 1 kısa mesajdan sonraki 15 mesaj ücretsizdir.Aynı anda en fazla 50 adet ücretli SMS gönderebilirsiniz. Ayrıca Herhangi bir Turkcell kampanyasından kazanılan ücretsiz kısa mesajlar, Ekonomik Mesaj Paketleri olan SMS 250, SMS 500, SMS 1000 ve SMS 3000 Paketleri ve konuşma dakikaları ile birlikte sms kullanım hakkı içeren paketlerdeki sms haklarınız Webmesaj ve Akıllı Mesaj kapsamında dahil değildir. 
                        <br /><br />
                        Uygulama üzerinden güncel ve son 6 aya ait fatura bilgilerinizi, bu faturalara ait detayları, fatura kontrol aboneliğiniz varsa, fatura kontrol limitinizi görebilirsiniz. 
                        <br /><br />
                        Hat Özetim menüsünden Tarife ve Paket bilgilerinizi görüntüleyebilir ve turkcell.com.tr de yer alan Online İşlemler’e direkt geçiş yaparak ödeyebilirsiniz. Kulüp bilgilerinizi, paket ve servis aboneliklerinizi de görüntüleyebilirsiniz. Paket ve Kampanyalardan kalan kullanım bilgilerinizi inceleyebilirsiniz. 
                        <br /><br />
                        Faturalarım menüsünden; Son 6 aya ait fatura bilgilerinize, son ödeme tarihi bilgilerinize ve fatura analizinize ulaşabilirsiniz. 
                        <br /><br />
                        TL/Paket yükle menüsü ile istediğiniz bir hazırkart numarasına kredi/banka kartı TL/Paket yükleyebilirsiniz. 
                        <br /><br />
                        Ayrıca arkadaşlarınıza TL gönderebilir ya da TL isteyebilirsiniz. 
                        <br /><br />
                        4. Uygulamaya giriş yapan Turkcell Hazırkart Hat kullanıcıları uygulama üzerinden ; TıklaKonuş(TıklaAra) ile; uygulamayı kullanan Facebook arkadaşları ile sesli arama başlatabilirler. TıklaKonuş(TıklaAra) ile yapacağınız ilk arama 10 dakika ile sınırlı ve ücretsizdir. Ücretsiz arama hakkınız bittikten sonra yapacağınız aramalar (10 dk ile sınırlıdır), 40 kuruş olarak ücretlendirilir. Ücretsiz aramalar gün içerisinde geçerlidir. Sadece Turkcell'li bir numarayı arayabilirsiniz. 10 dakikadan az süren aramalar da 40 kuruş olarak ücretlendirilir ve kalan dakikalar kullanılamaz. 
                        <br /><br />
                        SMS Gönder ile; aynı gün içerisinde Turkcell'lilere göndereceğiniz 1 kısa mesajdan sonraki 15 mesaj ücretsizdir.Aynı anda en fazla 50 adet ücretli SMS gönderebilirsiniz. Ayrıca Herhangi bir Turkcell kampanyasından kazanılan ücretsiz kısa mesajlar, Ekonomik Mesaj Paketleri olan SMS 250, SMS 500, SMS 1000 ve SMS 3000 Paketleri ve konuşma dakikaları ile birlikte sms kullanım hakkı içeren paketlerdeki sms haklarınız Webmesaj ve Akıllı Mesaj kapsamında dahil değildir. 
                        <br /><br />
                        Uygulama üzerinden güncel TL Bilginizi ve TL kullanım detaylarınızı görüntüleyebilirsiniz. 
                        <br /><br />
                        Hat Özetim menüsünden Tarife ve Paket bilgilerinizi görüntüleyebilir ve turkcell.com.tr de yer alan Online İşlemler’e direkt geçiş yaparak diğer işlemlerinizi yapabilirisniz. Kulüp bilgilerinizi, paket ve servis aboneliklerinizi de görüntüleyebilirsiniz. Paket ve Kampanyalardan kalan kullanım bilgilerinizi inceleyebilirsiniz. 
                        <br /><br />
                        TL/Paket yükle menüsü ile istediğiniz bir hazırkart numarasına kredi/banka kartı TL/Paket yükleyebilirsiniz. 
                        <br /><br />
                        Ayrıca arkadaşlarınıza TL gönderebilir ya da TL isteyebilirsiniz. 
                        <br /><br />
                        5. Uygulama içerisinde yer alan TıklaKonuş(TıklaAra) ve SMSGönder kampanyaları 3 ay ile sınırlıdır ve süre içerisinde Turkcell kampanya koşullarında değişiklik yapabilir. TıklaKonuş(TıklaAra) özelliğinde yer alan ücretsiz görüşme hakkı ile 250.000 kişi ile sınırlıdır.



                    </section>
                </section>

            </section>
            <section class="_bot"></section>
        </section>

        <ins class="space35"></ins>

        </section>



    </div>
</div>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $(".nano2").nanoScroller({ alwaysVisible: true });
        }, 500);
    });
</script>