@model TurkcellFacebookDunyasi.Admin.Models.ButtonNavModel

<a id="aList" class="k-button" href="@Url.Action(Model.ActionName, Model.RouteValues)">    
    <span id="newIcon" class="k-icon k-i-insert-m"></span>
    @HttpContext.GetGlobalResourceObject("Global", "List")
</a>