<span class="k-textbox k-space-right searchContainer">
    <input id="GridSearch" type="search" placeholder="@HttpContext.GetGlobalResourceObject("Form", "Search").ToString()" />
    <span class="k-icon k-i-search">&</span>
</span>