<noscript>
    <meta http-equiv="refresh" content="0; url=/Offline/Handlers/NoJs.htm" />
</noscript>

<!--[if lte IE 6]>
<div id="browserAlert">
    <p>         
        @HttpContext.GetGlobalResourceObject("_Alerts", "browserDetect")

        <br /><br />
        
        <a href="http://www.google.com/chrome/" target="_blank">Google Chrome</a> | 
        <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-9/worldwide-languages" target="_blank">Internet Explorer </a> | 
        <a href="http://www.mozilla.com" target="_blank">Mozilla Firefox</a>
    </p>
</div>
<![endif]--> 