<script>

    function topCalledNumbersCall() {
        partialViewLoad("invoiceCallDetails", "/CallDetails/TopCalledNumbers/?invoiceNumber=" + getSelectedInvoiceNumber());
    }

</script>

<article class="mainContainer fLeft">
    <section class="toUsePackage">
        <h3 class="fLeft">EN ÇOK KONUŞTUĞUM KİŞİLER</h3>
                    
        <section id="invoiceCallDetails" class="fLeft">
            


        </section>
                    
    </section>
</article>