@using TurkcellFacebookDunyasi.Com.Helpers

<section class="subContainer">

    <section class="tabContents">
        <section class="tabContent">
           
            <iframe src="@ConfigManager.GetInstance().TLYukleIframeUrl" id="PaketYukleIframe" width="100%" height="1005px" allowTransparency="true" frameBorder="0" name="appSubIFrame"></iframe>

        </section>
    </section>

</section>