@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="@PathHelper.UrlStatic/scripts/jquery/jquery.js" type="text/javascript"></script>
    <title></title>
</head>
<body>
    <div>
        
    </div>

    <script>

        $(function () {
            parent.location.href = '/World/Default';
        });
        
    </script>

</body>
</html>