<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>

    <!--<add name="DbConn" connectionString="Server=94.101.85.98\JSQL;Database=TurkcellFacebookDunyasi;MultipleActiveResultSets=true;User Id=TFD;Password=wanda123" providerName="System.Data.SqlClient" />-->
    <add name="DbConn" connectionString="Server=.;Database=TurkcellFacebookDunyasi;MultipleActiveResultSets=true;User Id=sa;Password=wanda007" providerName="System.Data.SqlClient" />
    <!--<add name="DbConn" connectionString="Server=10.0.0.1;Database=TurkcellFacebookDunyasi;MultipleActiveResultSets=true;User Id=wanda;Password=wanda009" providerName="System.Data.SqlClient" />-->

  </connectionStrings>  
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CallPortSoap11" />
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://tiklakonuscorptest.turkcell.com.tr:80/vav-engine/service/call"
              binding="basicHttpBinding" bindingConfiguration="CallPortSoap11"
              contract="TiklaKonus.CallPort" name="CallPortSoap11">

            <headers>
              <s:Security xmlns:s="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
                <s:UsernameToken>
                  <s:Username>vav</s:Username>
                  <s:Password>test</s:Password>
                </s:UsernameToken>
              </s:Security>
            </headers>
            
          </endpoint>
        </client>

      <diagnostics wmiProviderEnabled="true">
        <messageLogging
             logEntireMessage="true"
             logMalformedMessages="true"
             logMessagesAtServiceLevel="true"
             logMessagesAtTransportLevel="true"
             maxMessagesToLog="3000"
       />
      </diagnostics>

    </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="C:\logs\WebServiceTraces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  
</configuration>