@using TurkcellFacebookDunyasi.Com.Helpers

<div id='colorboxContentainer4'>
    <div id="colorboxContent4">
		<h2 class="colorboxHeader">Nasıl Çalışır?</h2>

        <section>
            <img src="@PathHelper.UrlStatic/images/global/tiklaAraHowItWorks.png" />
            <section class="textContent fIta">
                TıklaAra ile yapacağınız ilk arama 10 dakika ile sınırlı ve ücretsizdir. <br />
                Ücretsiz arama hakkınız bittikten sonra yapacağınız aramalar (10 dk ile sınırlıdır), 40 kuruş olarak ücretlendirilir. <br />
                Ücretsiz aramalar gün içerisinde geçerlidir. <br />
                Sadece Turkcell'li bir numarayı arayabilirsiniz. <br />
                10 dakikadan az süren aramalar da 40 kuruş olarak ücretlendirilir ve kalan dakikalar kullanılamaz.
            </section>
        </section>

    </div>
</div>