<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <!-- Test Sunucusu DB Baglantisi -->
    <add name="DbConn" connectionString="Server=10.210.54.57,63981;Database=facebook_turkcell_DB;MultipleActiveResultSets=true;User Id=facebook_tcell_user;Password=Ce1234!" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  
  <appSettings>
    <add key="url_Web" value="http://fbdunyasitest.turkcell.com.tr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="url_Admin" value="http://fbdunyasiadmintest.turkcell.com.tr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="url_Static" value="http://fbdunyasistatictest.turkcell.com.tr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="path_imagesRoot" value="http://fbdunyasistatictest.turkcell.com.tr/images/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="url_SsoLogout" value="https://sso2.turkcell.com.tr/opensso/UI/Logout?end_url=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="url_TLYukleIframe" value="https://intssostb-tm.turkcell.com.tr/services/rechargeCounterCredit?theme=csifb" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="WebServicePlatform" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="WebSMSAppId" value="appuser"/>
    <add key="WebSMSSecretKey" value="secret345"/>

    <add key="ClickToCallCampaignCode" value="9B0400741490" />
    <add key="ClickToCallCampaignCodeFree" value="8F1700741479" />

    <add key="Facebook:AppId" value="608352229179897" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Facebook:AppSecret" value="a528126bcf11807a8bf6f1806e81dfd7" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Facebook:AppNamespace" value="trkcllfbdnysitest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Facebook_PageAppTabUrl" value="http://www.facebook.com/pages/Trkcllfbdnysipage/139314976234050?sk=app_608352229179897" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Facebook_Image" value="http://fbdunyasistatictest.turkcell.com.tr/images/app/turkcell_facebook_dunyasi.jpg" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>