@{
    Layout = null;
}

@using TurkcellFacebookDunyasi.Com.Helpers

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>        
    <title>Turkcell Facebook Dünyası</title>

    @Html.Partial("_LayoutHead")

    <script>



    </script>

</head>
<body style="background-color: transparent !important">

    <section class="error" style="width: 90%">Değerli ziyaretçimiz, Turkcell Facebook Dünyası sadece bireysel hatlara hizmet vermektedir.<br />Online işlemlere <a href="http://www.turkcell.com.tr" target="_blank">www.turkcell.com.tr</a> üzerinden ulaşabilirsiniz.</section>

    <ins class="space10"></ins>

    <a href="/Login/LogOut" class="buttonLink leftButton fLeft fIta">Giriş sayfasına dön</a>

    <ins></ins>

</body>
</html>