@{
    Layout = null;
}

@using TurkcellFacebookDunyasi.Com.Helpers

<script>
    parent.location.href = '/World/Default';
</script>

<section class="fIta">
    
    @*@Html.Action("LoadingSmall", "Global")*@

</section>